<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- locals is always defined -- so if there' an error in the server with the "text" input it will override and find the text property -->
  Hello <%= locals.text || "Default" %>

<!-- locals trick is good to get around the fact that variables may or may not be defined in the server -->
</body>
</html>